name: Auto Trigger on Push

on:
  push:
    branches:
      - main

jobs:
  build-job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Show commit message
        run: git log -1
